---
layout: default_2
title: "Contact"
description: "Contact Victoria C. Chávez"
---

{% include header_2.html %}

<section class="section portfolio-5 contact-form-wrap">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-10 text-center">
				<h1 class="mb-5 mt-2 text-uppercase">Contact</h1>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row justify-content-center align-items-center bg-gray">
			<div class="col-lg-10">
				<div class="contact-content pl-lg-5 mb-5">
					<p>I go by @vickiebananas everywhere, though there are few platforms I actually use. I use Twitter personally and professionally under the same account because my work is informed by my experiences, my communities, and the communities I engage with.</p>

					<div class="row mt-5">
						<div class="col-lg-3 col-6">
							<div class="contact-info">
								<i class="ti-twitter-alt text-black"></i>
								<div class="info">
									<h3 class="h5">Twitter</h3 class="h5">
									<a href="https://twitter.com/vickiebananas">@vickiebananas</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-6">
							<div class="contact-info">
								<i class="ti-linkedin text-black"></i>
								<div class="info">
									<h3 class="h5">LinkedIn</h3 class="h5">
									<a href="https://linkedin.com/in/vickiebananas">Victoria C. Chávez</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-6">
							<div class="contact-info">
								<i class="ti-github text-black"></i>
								<div class="info">
									<h3 class="h5">GitHub</h3 class="h5">
									<a href="https://github.com/vickiebananas">vickiebananas</a>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-6">
							<div class="contact-info">
								<i class="ti-email text-black"></i>
								<div class="info">
									<h3 class="h5">Email</h3 class="h5">
									<a href="mailto:victoria@vickiebananas.com">Send me an email</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row justify-content-center align-items-center">
			<div class="col-lg-10 pl-lg-5">
				<div class="contact-form">
					<h2 class="h3 mb-4">Send Me a Message</h2>
					<iframe src="contact_form.html" class="container" title="contact form"></iframe>
				</div>
			</div>
		</div>
	</div>
</section>

{% include call_to_action.html %}