@font-face {
    font-family: russianArkhip;
    src: url(arkhip.woff);
}

body {
	background-color: #000000;
	color: #FFFFFF;
	font-family: russianArkhip;
}

#top {
	text-align: center;
	width: 100%;
	margin-top: 10%;
	position: absolute;
}

#V {
	border-radius: 250px;
}

#navTable {
	width: 100%;
}

.nav {
	width: 20%;
	font-size: x-large;
	text-align: center;
	color: #FFFFFF;
	text-decoration: overline;
}

.nav:hover {
	text-decoration: underline;
}