@font-face {
    font-family: russianArkhip;
    src: url(arkhip.woff);
}

body {
	background-color: #000000;
	color: #FFFFFF;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

a {
	color: #FFFFFF;
}

span {
	position: relative;
}

table {
	position: relative;
}

#abtTable {
	margin: 10% auto auto auto;
}

#cntTable {
	margin: 10% auto auto auto;
}

#header {
	font-size: 44px;
	font-family: russianArkhip;
}

#headerText {
	font-size: 44px;
	font-family: russianArkhip;
}

.foot:hover {
	text-decoration: overline;
	cursor: pointer;
}

.foot {
	text-decoration: underline;
	width: 15%;
}

#footer {
	width: 90%;
	margin: auto auto auto 8%;
	font-family: russianArkhip;
}

.footer {
	width: 15%;
}

#projectTable {
	width: 75%;
	height: 90%;
	margin: 5% auto auto auto;
	border-style: solid;
	border-color: #000000;
}

#projectTable td {
	width: 30%;
	text-align: center;
}

.proj {
	color: #575757;
	width: 80%;
	height: 75%;
	overflow: scroll;
	font-size: small;
	padding-bottom: 33.33%;
	margin: auto auto 5% auto;
}

.proj:hover {
	color: #FFFFFF;
}
