@font-face {
    font-family: russianArkhip;
    src: url(arkhip.woff);
}

body {
	background-color: #000000;
	color: #FFFFFF;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

a {
	color: #FFFFFF;
}

span {
	position: relative;
}

table {
	position: relative;
}

#abtTable {
	margin-left: 15%;
	margin-top: 10%;
	
}

#cntTable {
	margin-left: 35%;
	margin-top: 10%;
}
#header {
	font-size: 44px;
	font-family: russianArkhip;
}

#headerText {
	font-size: 44px;
	font-family: russianArkhip;
}

.form {
	width: 400px;
}

#footer {
	margin-left: 5%;
	font-family: russianArkhip;
	text-decoration: underline;
}

.footer {
	width: 15%;
}