{% for item in items %}
<div class="col-12 mb-4 shuffle-item" data-groups="[{% for category in item.categories %} &quot;{{ category | downcase | slugify }}&quot; {% unless forloop.last %}, {% endunless %} {% endfor %}]">
	<div class="row">
		<div class="col-12">
			<h2 class="h6">{{ item.title }}</h2>
		    	{% if item.institution %}
		    		<p>
		    			{{item.institution}}

		    			{% if item.syllabus %}
			    			| <a href="{{ item.syllabus }}" aria-label="Course syllabus for {{ item.title }}">Course Syllabus</a>
						{% endif %}	
				
						{% if item.materials %}
					    	| <a href="{{ item.materials }}" aria-label="Course materials for {{ item.title }}">Course Materials</a>
						{% endif %}	

		    		</p>
				{% endif %}	

				<p>{{ item.abstract }}
				
				{% if item.proj %}
			    	<a href="{{ item.proj }}" aria-label="View {{ item.title }} project">View Project</a>.
				{% endif %}		
			</p>
		</div>
	</div>
</div>
{% endfor %}