// Color Variables
$white: #EAF2EF;
$black: #202020;
$primary-color:#b3000c;
$secondary-color:#C4D6B0;
$extra-color:#660007;
$border-color: #e5e5e5;
$black-light:#6B6B6B;
$yello:#ffc429;
$blue: #470FA8;
$heading-font:'Poppins', sans-serif;
$body-font:'Open Sans', sans-serif;