---
layout: default_2
---

{% case page.yaml_cat %}
  {% when "publications" %}
     {% assign items = site.data.publications.items | sort: 'year' | reverse %}
     {% comment %} {% assign display = 'port' %} {% endcomment %}
  {% when "curriculum" %}
     {% assign items = site.data.curriculum.items | sort: 'title' %}
     {% assign display = 'pubs' %}
  {% when "programming" %}
     {% assign items = site.data.programming.items | sort: 'title' %}
     {% assign display = 'pubs' %}
 {% when "designs" %}
     {% assign items = site.data.designs.items %}
     {% assign display = 'portfolio' %}
{% endcase %}

<section class="section portfolio-5">

	<!-- Portfolio Categories start -->
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10 text-center">
				<h1 class="mb-5 mt-2 text-uppercase">{{page.title}}</h1>
			</div>
		</div>

		<div class="row align-items-center mb-5">
		  	<div class="text-center">
		        <div class="btn-group btn-group-toggle btn-group-inline" data-toggle="buttons">
		          <label class="btn border-0 active">
		            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All Projects
		          </label>
							{% assign categories = items | map: 'categories' | join: ',' | split: ',' | uniq | sort %}
							{% for category in categories %}
							<label class="btn border-0">
								<input type="radio" name="shuffle-filter" value="{{ category | downcase | slugify }}" />{{ category }}
							</label>
							{% endfor %}
		        </div>
		  </div>
		</div>    
	</div>
	<!-- Portfolio categories end -->

	<div class="container portfolio-gallery shuffle-wrapper">
    	{% if display == 'pubs' %}
      	{% include pub_loop.html items=items %}
		{% elsif display == 'port' %}
			{% include portfolio_loop.html items=items %}
  		{% else %} 
	  		{% include portfolio_items.html items=items %}
  		{% endif %}
	</div>
</section>